.spacer {
    flex: 1 1 auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

nav a.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}